h2 {
    margin: 0 0 10px 0;
}

h3 {
    margin: 0;
}

.subtitle {
    display: flex;
    justify-content: space-between;
}

.left {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.right {
    flex-shrink: 0;
}

